@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

.profile-dropdown {

  font-family: 'Kanit', sans-serif;
  display: inline-block;
  position: relative;
  background: #f2f2f2;
  /* margin: auto; */
  font-weight: bold;
  /* font-size: 1.3rem; */
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile-dropdown * {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
.profile-dropdown input[type="checkbox"] {
  display: none;
}
.profile-dropdown input[type="checkbox"]:checked ~ ul {
  display: block;
  animation: pulse 0.5s;
}
.profile-dropdown input[type="checkbox"]:checked ~ img {
  background: orange;
}
.profile-dropdown input[type="checkbox"]:checked ~ label {
  background: orange;
}
.profile-dropdown input[type="checkbox"]:checked ~ label i {
  color: #f2f2f2;
}
.profile-dropdown input[type="checkbox"]:checked ~ label:after {
  content: '';
  position: absolute;
  top: 100%;
  right: calc(50% - 10px);
  display: block;
  border-style: solid;
  margin: 3px 0px;
  border-width: 7px 10px 0 10px;
  border-color: orange transparent transparent transparent;
  width: 0;
  height: 0;
}
.profile-dropdown img {
  display: inline-block;
  background: #d9d9d9;
  height: 2.3rem;
  vertical-align: middle;
  margin-right: 1rem;
  margin: .8rem .75rem .5rem .5rem;
  border-radius: 50%;
}
.profile-dropdown span {
  font-family: 'Kanit', sans-serif;
  display: inline-block;
  vertical-align: sub;
  width: 125px;
  margin-right: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile-dropdown ul {
  font-family: 'Kanit', sans-serif;
  display: none;
  list-style: none;
  padding: 0;
  margin: 20px 0px 0px;
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 3px;
}
.profile-dropdown ul li a {
  display: block;
  font-family: 'Kanit', sans-serif;
  padding: .25rem .55rem;
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}
.profile-dropdown ul li a i {
  font-family: 'Kanit', sans-serif;
  font-size: 2.3rem;
  vertical-align: middle;
  /* margin: 0 .75rem 0 -.25rem;*/
}
.profile-dropdown ul li a:hover {
  background: #e5e5e5;
}
.profile-dropdown ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}
.profile-dropdown ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}
.profile-dropdown > label {
  font-family: 'Kanit', sans-serif;
  /* position: relative; */
  height: 3.5rem;
  /* display: block; */
  text-decoration: none;
  background: transparent;
  color: #333;
  box-sizing: border-box;
  /* padding: .5rem; */
  float: right;

}
.profile-dropdown > label i {
  color: #b2b2b2;
  font-size: 1.75rem;
}
.profile-dropdown:after {
  content: '';
  display: table;
  clear: both;
}

